/*======================================================
CHEFE SESSÃO
========================================================*/
body h2{
    margin-bottom: 5%;
}

body h3{
    margin-bottom: 3%;
}

.btn-gerar{
    border-radius: 150px;
    margin-bottom: 3%;
}

#relatorio {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
}

#relatorio td, #relatorio th {
    border: 1px solid #ddd;
    padding: 8px;
}

#relatorio tr:nth-child(even){
    background-color: #f2f2f2;
}

#relatorio tr:hover {
    background-color: #ddd;
}

#relatorio th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(107, 107, 116);
    color: white;
}

body{
    text-align: center !important;
}
/*======================================================
FIM CHEFE SESSÃO
========================================================*/